* {
  all: unset;
  font-family: "JetBrainsMono NF";
  font-weight: 900;
  font-size: 12 + 1;
  color: #5492a1; // #5492a1 #2f2f2f
}

.bar {
  background-color: #464646;
  margin: 0 6px;
  padding: 0;
}

.right {
  padding-right: 8px;
}

.workspace-button {
  min-width: 24px;
  min-height: 24px;
  // transition: all 1s ease 0s;
}

.workspace-button:hover {
  background-color: #525252;
}

.cpu label {
  font-size: 16px;
  padding-right: 8px;
}

.memory label {
  font-size: 13px;
  padding-right: 11px;
}

.battery label {
  font-size: 16px;
  padding-right: 12px;
}

.volume label {
  font-size: 13px;
  padding-right: 12px;
}

.brightness label {
  font-size: 13px;
  padding-right: 9px;
}

.cpu, .memory, .battery {
  progressbar trough progress {
    background-color: #5492a1;
    min-height: 6px;
  }

  progressbar trough {
    background-color: #525252;
    min-height: 6px;
    min-width: 100px;
  }
}

.brightness, .volume {
  scale trough highlight {
    background-color: #5492a1;
    min-height: 6px;
  }

  scale trough {
    background-color: #525252;
    min-height: 6px;
    min-width: 100px;
  }
}
