/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
  show-icons:                 true;
  display-drun:               "Applications";
	drun-display-format:        "{name}";
  terminal:                   "kitty";
  font:                       "JetBrains Mono 12";
}

@theme "theme.rasi"
